{% extends 'base.html' %}
{% load static %}
{% block titleh %}
	{% if title %}
		<title>Kora Forum - {{ title }}</title>
	{% else %}
		<title>Kora Forum - Home</title>
	{% endif %}
{% endblock %}
{% block content %}

	<div class="row about-part">
		<div class="col-md-8 offset-md-2">
			<div class="container">
				<div class="jumbotron about_text">
					<p><strong><em>KOFAOB</em></strong> in full stands for Kora Forum And Other Basic  mainly formed by youth after observing that some part of communities in Karongi District particularly kibuye are vulnerable due to the extreme poverty and we decided to come together to help those communities, we all believe that everyone can work and leave the category of being poor. Which means Kora wigire linked with encouragement to everyone for working hard. Under our main purposes, we can achieve it together. Beside that our environment is the most valuable gift we were given, after observing how environment is being damaged we come up with will to do our best for helping the World for protecting our environment through sensibilization and other activities we will be doing with our communities, <b> our main purposes:</b></p>
					<ol>
						<li>Improving the living conditions of young people and women in the Ubudehe category 1</li>
						<li>Fight extreme poverty of youth and women live in Ubudehe categorie 1</li>
						<li>Promote the education of young people living in extreme poverty</li>
						<li>Environment protection</li>
						<li>Advocate with local and national authorities</li>
					</ol>				
				</div><br>
				<div class="jumbotron about_text">
					<div class="container">
						<div class="card card-body">
							<h4>Kora Forum And Other Basic mission</h4>
							<p>is to fight against extreme poverty, protecting environment and other basic rights related to vulnerable group.</p>
						</div>
						
					</div>					
				</div>			
			</div><br>
			<div class="board_committee ">
				<h4 class="text-center display-4">Our board of committee</h4>
				<div class="card">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/president_thiery.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">CYUZUZO Thierry</h5>
									<p  class="card-text">Is <b>the president</b> of Kora Forum And Other Basic.He is final year student at University of Rwanda in electronic and telecommunication engineering and he expects to earn his bachelor’s degree in the end of 2020. He worked as a biomedical technician in Kibuye referral hospital as an internee </p>
									<p>E-mail: <a href="mailto: tcyuzuzo61@gmail.com">tcyuzuzo61@gmail.com</a></p>
									
								</div>
						
							</div>
						</div>
					</div>							
				</div>
				<div class="card">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/mariete_vice_president.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">NIYIGABA Mariette</h5>
									<p  class="card-text">Is <b>the vice-president</b> of Kora Forum And Other Basic. She is a project engineer at TRES since 2018. Mariette holds a bachelor degree in Electronics and Telecommunication Engineering from University of Rwanda, College of Science and Technology (CST). She is also certified in CCNA Routing and Switching and Women in Innovation (Wiln) program. She speaks and writes English, French, Kinyarwanda and Swahili.</p>
									<p>E-mail: <a href="mailto:marietteniyigaba@gmail.com">marietteniyigaba@gmail.com</a></p>
									
								</div>
						
							</div>
						</div>
					</div>							
				</div>
				<div class="card">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/secretary_paccy.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">NTWARI Pacifique</h5>
									<p  class="card-text">Is <b>the secretary</b> of Kora Forum And Other Basic. He is currently a business administration student majoring in business management. Pacifique is experienced in project management, project planning and public relations.</p>
									<p>E-mail: <a href="mailto:pacifiquentwari77@gmail.com">pacifiquentwari77@gmail.com</a></p>	
								</div>
						
							</div>
						</div>
					</div>							
				</div>
				<div class="card">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/mateme_eric.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">NDIZEYE MATEME Eric</h5>
									<p  class="card-text">Is <b>the accountant</b> of Kora Forum And Other Basic.He has working experience of over Five years working In Administration and Finance in different 4 Institution such as USAID Tworore Inkoko Project, Oxfam Rwanda, Ministry of Health and Cooltoon Ltd. Pursuing Masters in Business administration in University of kigali and finalised Bachelor degree In bsc Accounting and pursuing final level of CPA in ICPAR.</p>
																
								</div>
							</div>
						</div>
					</div>							
				</div>
				<div class="card">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/tatiana.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">UDAHEMUKA Tatiana</h5>
									<p  class="card-text">Is <b>the advisor</b> of Kora Forum And Other Basic. She holds Bachelor's degree in Law from University of Kigali( UoK). Tatiana has 17 years expriences in digitalization of the archive documents in OTP where she been working since 2003 up to now.</p>
									<p>E-mail: <a href="mailto:udahemukatatiane@gmail.com">udahemukatatiane@gmail.com</a></p>							
								</div>
							</div>
						</div>
					</div>							
				</div>
				<div class="card" id="last-card-about">
					<div class="row">
						<div class="col-md-3 about_image">
							<img src="{% static '/base/images/alphonse.jpeg' %}" class="card-img d-block w-100" alt="Picture">
						</div>
						<div class="col-md-9">
							<div class="card-body">						
								<div class="about_text">
									<h5  class="card-header">MFIZI GITINYWA Alphonse</h5>
									<p  class="card-text">Is <b>the advisor</b> of Kora Forum And Other Basic.From 2006 to 2009 coordinator of ruhengeri sector. From 2009 to 2011, he was president of board of directors ruhengeri sector. From 2018 to 2019, he was head of discipline in FPR ubumwe village kicukiro district and from 2019 to 2020 head of discipline in FPR kibuye cell. Alphonse is exprienced in working with local authorities.</p>
																
								</div>
							</div>
						</div>
					</div>							
				</div>				
			</div>	
		</div>	
	</div>


{% endblock %}